# Compiled files
*.class
src/main/webapp/WEB-INF/classes*
src/main/webapp/WEB-INF/.gitignore
target
/target

# Package Files #
*.jar
*.war
*.ear

# Eclipse Files #
.classpath
.project
.settings*

# Netbeans Files #
nb-configuration.xml

# Intellij Files #
*.iml
.idea

# Other Editors #
*~
